html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-weight: bold;
    margin-top:15px;
    font-size: 30pt;
}
img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    padding: 11px;
    border: dotted 5px palevioletred;
}
.cover {
    object-fit: cover;
    width: 600px;
    height: 200px;
    object-position: 0px -550px;
}
body{
    background: pink;
    margin:5px;
    padding:5px;
    line-height:1.15;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 3px darkmagenta solid;
    width: 90%;
    padding: 50px;
    row-gap: 50px;
    column-gap: 100px;
}
.gallery img {
    width: 100%;
    height: 100%;
}
div.gallery > img:last-child{
    grid-column-end: span 2;
}

ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
}
nav ul li {
    outline: none;
    color: black;
    background-color: lightpink;
    text-align: center;
    width: 150px;
    display: inline-block;
    border: 2px palevioletred solid;
    border-radius: 25px;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: darkmagenta;
}
ul {
    margin: 20px;
}

p {
    padding: 5px 0px;
    color: darkmagenta;
    line-height: 2em;
    font-weight: 600;
    font-size: 11pt;
}